.git
.DS_Store

node_modules
**/node_modules

dist
**/dist
build
**/build
coverage
coverage*.json

.env
.env.local
WALLETS.txt
*.key
*.pem
buyer-keypair.json
seller-keypair.json

*.log
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock
bun.lockb

target
.anchor
test-ledger
ref
